h1 {
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin-bottom: 10px;
}

button {
  background-color: rgba(65, 170, 255, 0.911);
  padding: 10px 0px;
  margin-top: 15px;
  width: 100%;
  color: white;
  font-weight: 600;
}

input {
  border: 1px solid rgb(206, 203, 203);
  background-color: azure;
  padding: 10px 0px;
  width: 99%;
  margin-right: 190px;
}

span {
  text-align: left;
 margin: 20px 110px 20px 0px;
 font-weight: 700;
display: flex;
}

label {
  text-align: left;
  width: 100%;
  font-size: 15px;
}

.dropdown select {
width: 100%;
height: 30px;
border: 1px solid rgb(206, 203, 203);
}

.main {
  width: 25%;
  border: 3px solid rgb(179, 176, 176);
  border-radius: 10px;
  margin: auto;
  margin-top: 10%;
  background: #475F94;
  color: white;
  font-weight: 700;
}